.chartOuter {
  display: grid;
  grid-template-columns: 2fr 5fr;
  align-items: center;
  gap: 4px;
  margin: 0 12px;
}

.paramTitle {
  font-size: 4vw;
  text-align: left;
  background-color: rgba(138, 43, 226, 0.4);
  padding: 4px;
}

.statusUl {
  font-size: 3vw;
  padding: 0 4px;
}

.statusList {
  display: grid;
  grid-template-columns: repeat(2, minmax(4px, 1fr));
  gap: 4px;
  border-bottom: 1px solid white;
}

.statusSubject {
  font-weight: bold;
}

.statusValue {
  text-align: right;
}
