
.createOkigoriButton {
    background-color: #555; /* グレーの背景色 */
    color: #fff; /* 文字色 */
    border: none;
    padding: 5px 5px; /* ボタン内の余白 */
    border-radius: 5px; /* 丸みを持たせる */
    cursor: pointer;
    transition: background-color 0.3s ease; /* ホバー時のトランジション */
  }
  .createButton {
    /* ここにボタンのスタイルを追加 */
    background-color: #3498db; /* 例として青色の背景色を追加 */
    color: #ffffff; /* テキストの色を白色に設定 */
    /* 他にも必要なスタイルを追加してください */
  }
  
  .createButton:hover {
    background-color: #333; /* ホバー時の背景色 */
  }

  .tableOkigoriCellStyle {
    border: 1px solid #ddd; /* クォート不要 */
  }
  
  .tableOkigoriStyle {
    width: 100%; /* クォート不要 */
  }